.webdesign_btn {
  margin-top: 20px;
  padding: 20px 25px;
  border: 1px solid #fff;
  background-color: #ef4a34;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  transition: 0.5s;
}
.webdesign_btn:hover {
  background-color: #fff;
  color: #ef4a34;
}

.photography button {
  border: 1px solid #c9c9c9;
  background-color: #fff;
  color: #c9c9c9;
}
.photography button:hover {
  border: 1px solid #7a7a7a;
  color: #7a7a7a;
  background-color: #fff;
}

.hire_button {
  padding: 27px 60px;
  background-color: #ef4a34;
  border: 1px solid #ffc107;
  cursor: pointer;
  color: #ffc107;
  transition: 0.5s;
  font-weight: bold;
  font-size: 22px;
}
.hire_button:hover {
  background-color: #ffc107;
  color: #ef4a34;
  font-weight: bold;
  font-size: 22px;
}

.form_btn {
  padding: 20px 25px;
  color: #ef4a34;
  border: 1px solid #ffc107;
  background-color: #ffc107;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.3s;
}
.form_btn:hover {
  background-color: #ef4a34;
  color: #fff;
  font-weight: bold;
  border: 1px solid #ffc107;
}

.map_btn {
  margin-top: 10px;
  float: right;
  padding: 7px 23px;
  background-color: #ef4a34;
  color: #fff;
  font-weight: bold;
  border: 1px solid #fff;
  transition: 0.3s;
}
.map_btn:hover {
  background-color: #fff;
  color: #ef4a34;
  border: 1px solid #ef4a34;
}

.footer_links a {
  font-size: 30px;
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #ef4a34;
  transition: 0.3s;
}
.footer_links a:hover {
  color: #ef4a34;
  border: 1px solid #ef4a34;
  background-color: #fff;
}

.introduction {
  background-image: url("../img/main.jpeg");
  height: 150vh;
  background-size: cover;
}

.coffee_photo, .parrot_photo {
  width: 50%;
  height: 90%;
}

.see_photo {
  width: 50%;
  height: 90%;
  order: 2;
}

.client_photo {
  width: 50%;
  height: 100%;
  background-image: url("../img/colleague.jpeg");
  background-size: cover;
}

.form_photo {
  background-image: url("../img/town.jpeg");
  width: 50%;
  height: 100%;
  background-size: cover;
}

.map_photo {
  background-image: url("../img/map.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
}

/*# sourceMappingURL=main.css.map */
