/* introduction */
.introduction {
  background-image: url('../img/main.jpeg');
  height: 150vh;
  background-size: cover;
}

.intro_items {
  top: 30%;
  position: absolute;
}

.intro_h1 {
  font-size: 130px;
  font-weight: bold;
}

.intro_red_l {
  color: #dc3545;
}

.intro_h2 {
  font-size: 130px;
  color: #6c757d;
  font-weight: bold;
}

.intro_yellow_r {
  color: #ffc107;
}

.intro_text {
  font-size: 30px;
  color: #dc3545;
  letter-spacing: 2px;
}

/* about */

.about {
  background-color: #ef4a34;
  border-top: 1px solid #fff;
}

.contain_about {
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 100px 0;
  color: #fff;
}

.about_h2 {
  padding: 15px;
  border-bottom: 2px dotted #ffffff;
  position: relative;
  margin-bottom: 50px;
}

.contain_about i {
  position: absolute;
  padding: 0px 30px;
  border: none;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ef4a34;
  font-size: 30px;
}

/*mywork*/

.mywork {
  padding: 30px 0;
}

.mywork_heading_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}

.mywork_h3 {
  padding: 15px;
  border-bottom: 3px dotted #777a7c;
  position: relative;
}

.mywork_heading_items i {
  padding: 0px 30px;
  border: none;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  font-size: 30px;
  position: absolute;
}

 
.mywork_photo,.mywork_web,.mywork_3D {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.camera_icon,.web_icon,.d_icon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #ef4a34;
  margin-bottom: 15px;
  transition: 1s ease-out;
}

.camera_icon:hover{
  background-image: url(../img/camera.jpg);
  background-size: cover;
  background-position: center;
}

.web_icon:hover {
  background-image: url(../img/display.jpg);
  background-size: cover;
  background-position: center;
}

.d_icon:hover {
  background-image: url(../img/3d.jpg);
  background-size: cover;
  background-position: center;
}
/* WEBDESIGN */

.webdesign {
  height: 70vh;
  display: flex;
  background-color: #ef4a34;
}

.photography {
  background-color: #fff;  
}

.coffee_photo,.parrot_photo {
  width: 50%;
  height: 90%;
}

.see_photo {
  width: 50%;
  height: 90%;
}

.webdesign_items {
  width: 50%;
  padding: 30px 50px;
}

.webdesign_h3 {
  margin: 25px 0;
  color: #fff;
  font-size: 25px;
}

.photography h3 {
  color: #7a7a7a;
}

.webdesign_text {
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
}

.photography p {
  color: #7a7a7a;
}

.webdesign_btn {
  margin-top: 20px;
  padding: 20px 25px;
  border: 1px solid #fff;
  background-color: #ef4a34;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  transition: 0.5s;
}

.photography button {
  border: 1px solid #c9c9c9;
  background-color: #fff;
  color: #c9c9c9;
}

.webdesign_btn:hover{
  background-color: #fff;
  color: #ef4a34;
}

.photography button:hover {
  border:1px solid #7a7a7a;
  color: #7a7a7a;
  background-color: #fff;
}

/***** photo album *****/

.album {
  margin-top: 30px;
}

.contain_album {
  width: 95%;
  margin: 0 auto;
}

.contain_album {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contain_album i {
  padding: 10px 30px;
  border: none;
  margin-top: -30px;
  background-color: #fff;
  font-size: 30px;
}

.album_heading {
  text-align: center;
}

.album_h2 {
  position: relative;
  letter-spacing: 2px;
  font-size: 40px;
  color: #ef4a34;
  padding: 15px;
  border-bottom: 2px dotted #6c757d;
}

.album_h2 i {
  padding: 0px 30px;
  border: none;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  font-size: 30px;
  position: absolute;
}

.album_h3 {
  letter-spacing: 1px;
  font-size: 25px;
}


.album_photos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  /*height: 70vh;*/
}

.effects .img:last-child{
  margin-right: 0;
}

.effects .img:first-child{
  margin-left: -30px;
}

.effects {
  height: 100%;
}

.img {
  overflow: hidden;
  max-height: 35vh;
  height: 230px;
  width: 100%;
}

.img img {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 170%;
  background-position: center center;
  background-size: cover;
  transition: 0.5s;
  filter: grayscale(1);
  transform: translateX(-50px);
}


.effects .img img:hover{
  transform: translateX(0px);
  filter: grayscale(0);
}


/***** HIRE *****/

.hire {
  display: flex;
  background-color: #ef4a34;
  height: 30vh;
  justify-content: center;
  align-items: center;
}

.hire_button {
  padding: 27px 60px;
  background-color: #ef4a34;
  border: 1px solid #ffc107;
  cursor: pointer;
  color: #ffc107;
  transition: 0.5s;
  font-weight: bold;
  font-size: 22px;
}
.hire_button:hover {
  background-color: #ffc107;
  color: #ef4a34;
  font-weight: bold;
  font-size: 22px;
}

/***** blog *****/

.blog {
  padding: 30px 0;
}

.blog1_items,.blog2_items,.blog3_items {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blog_heading_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0;
}

.blog_h3 {
  padding: 15px;
  border-bottom: 3px dotted #777a7c;
}

.blog_heading_items i {
  padding: 10px 30px;
  border: none;
  margin-top: -30px;
  background-color: #fff;
  font-size: 30px;
}

.blog_heading_red {
  color: #ef4a34;
}

.blog1_photo,
.blog2_photo,
.blog3_photo {
  overflow: hidden;
  margin-bottom: 15px;
}

.child,.blogs,.cloud {
  width: 120%;
  transform: translateX(-50px);
  background-position: center;
  background-size: cover;
  transition: 0.5s;
  filter: grayscale(1);
}

.child:hover{
  transform: translateX(0px);
  filter: grayscale(0);
}
.blogs:hover {
  filter: grayscale(0);
  transform: translateX(0px);
}
.cloud:hover{
  filter: grayscale(0);
  transform: translateX(0px);
}

/* client */

.client {
  height: 70vh;
  display: flex;
  background-color: #ef4a34;
}

.client_photo {
  width: 50%;
  height: 100%;
  background-image: url('../img/colleague.jpeg');
  background-size: cover;
}

.client_items {
  width: 50%;
  padding: 50px;
}

.client_h4 {
  margin: 40px 0;
  color: #fff;
  font-size: 25px;
}

.client_text,.client_span {
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
}

/***** form *****/

.form {
  display: flex;
  background-color: #ef4a34;
  height: 70vh;
  position: relative;
}

.form_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  color: #fff;
}

.form_message {
  margin-top: 15px;
}

.form_input {
  padding: 20px 30px;
  background-color: #ef4a34;
  border: 1px solid #ffc107;
}

.form_btn {
  padding: 20px 25px;
  color: #ef4a34;
  border: 1px solid #ffc107;
  background-color: #ffc107;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.3s;
}

.form_btn:hover{
  background-color: #ef4a34;
  color: #fff;
  font-weight: bold;
  border: 1px solid  #ffc107;
}

.form_photo {
  background-image: url('../img/town.jpeg');
  width: 50%;
  height: 100%;
  background-size: cover;
}

.yellow_box {
  position: absolute;
  height: 65px;
  width: 65px;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffc107;
  border-bottom: 2px dashed red;
}

/* contact */

.contact_heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}


.contact_h3 {
  padding: 15px;
  border-bottom: 3px dotted #777a7c;
  position: relative;
}

.contact_heading i {
  position: absolute;
  padding: 0px 30px;
  border: none;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  font-size: 30px;
}

.contact_heading_red {
  color:  #ef4a34;
}

.contact_address,.contact_phone,.contact_email {
  background-color: #e0e0e0;
  border-bottom: 3px solid red;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
}

.contact_address:hover {
  transform: translateY(-25px);
  border-bottom:3px solid #ffc107;
}
.contact_phone:hover {
  transform: translateY(-25px);
  border-bottom:3px solid #ffc107;
}
.contact_email:hover {
  transform: translateY(-25px);
  border-bottom:3px solid #ffc107;
}

.email_text {
  color: #ef4a34;
  border-bottom: 1px dashed #ef4a34;
}
.email_text:hover{
  color: #ef4a34;
  text-decoration: none;
  border: none;
}

/* map */

.map {
  padding: 50px 0;
}

.map_photo {
  background-image: url('../img/map.jpg');
  height: 100%;
  width: 100%;
  background-size: cover;
}

.input_email {
  float: right;
  padding: 12px 25px;
  background-color: #fff;
  border: 2px solid #adadad;
  border-radius: 2px;
}

.input_name {
  padding: 12px 25px;
  background-color: #fff;
  border: 2px solid #adadad;
  border-radius: 2px;
}

.map_textarea {
  width: 100%;
  margin-top: 15px;
  background-color: #fff;
  border: 2px solid #adadad;
  border-radius: 2px;
  resize: none;
  padding: 10px;
}

.map_btn {
  margin-top: 10px;
  float: right;
  padding: 7px 23px;
  background-color: #ef4a34;
  color: #fff;
  font-weight: bold;
  border: 1px solid #fff;
  transition: 0.3s;
}
.map_btn:hover {
  background-color: #fff;
  color: #ef4a34;
  border: 1px solid #ef4a34;
}

/* footer */

.footer {
  display: flex;
  height: 18vh;
  align-items: center;
  justify-content: center;
}

.footer_links {
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.footer_links a {
  font-size: 30px;
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #ef4a34;
  transition: 0.3s;
}

.footer_links a:hover{
  color: #ef4a34;
  border: 1px solid #ef4a34;
  background-color: #fff;
}

/* copyright */

.copyright {
  height: 15vh;
  background-color: #d1d1d1;
  text-align: center;
  line-height: 15vh;
}

.copyright_text {
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0;
}

/*@media screen and (max-width: 1440px) {*/
  /*.img {*/
    /*width: 120%;*/
  /*}*/
  /*.img img {*/
    /*width: 115%;*/
  /*}*/
/*}*/

@media screen and (max-width: 1355px) {
  .webdesign_items {
    padding: 35px;
  }
  .webdesign_h3 {
    margin: 25px 0;
    font-size: 20px;
  }
  .webdesign_text {
    font-size: 19px;
    letter-spacing: 1px;
    margin: 0;
  }
  .webdesign_btn {
    padding: 15px 20px;
    font-size: 15px;
    margin-top: 40px;
  }
  .client_items {
    padding: 40px;
  }
  .client_h4 {
    margin: 30px 0;
  }
  .input_name,.input_email {
    padding: 12px 20px;
  }
}

@media screen and (max-width: 1244px) {
  .client_items {
    padding: 30px;
  }
}

@media screen and (max-width: 1162px) {
  .webdesign_items {
    padding: 30px;
  }
  .webdesign_h3 {
    margin: 22px 0;
    font-size: 20px;
  }
  .webdesign_text {
    font-size: 18px;
    letter-spacing: 1px;
    margin: 0;
  }
  .webdesign_btn {
    padding: 10px 15px;
    font-size: 15px;
    margin-top: 40px;
  }
} 

@media screen and (max-width: 956px) {
  .webdesign_text {
    font-size: 17px;
    letter-spacing: 1px;
    margin: 0;
  }
  .webdesign_btn {
    padding: 10px 15px;
    font-size: 15px;
    margin-top: 20px;
  }
} 

@media screen and (max-width: 1024px) {
  .webdesign_items {
    padding: 20px;
  }
  .webdesign_h3 {
    margin: 15px 0 45px 0;
    font-size: 20px;
  }
  .webdesign_text {
    font-size: 17px;
    letter-spacing: 1px;

  }
  .webdesign_btn {
    padding: 15px 20px;
    font-size: 15px;
  }
  .album_h2 {
    padding: 10px;
    font-size: 30px;
  }
  .hire {
    height: 20vh;
  }
  .hire_button {
    padding: 15px 30px;
    font-size: 17px;
  }
  .hire_button:hover {
    padding: 15px 30px;
    font-size: 17px;
  }
  .blog_heading_items {
    margin: 20px 0;
  }
  .blog1_h3,.blog2_h3,.blog3_h3 {
    font-size: 20px;
  }
  .blog1_text,.blog2_text,.blog3_text {
    font-size: 16px;
  }
  .img {
    width: 128%;
  }
  .img img{
    width: 120%;
  }
  .client_items {
    padding: 20px;
  }
  .client_h4 {
    margin: 45px 0 45px 0;
    font-size: 20px;
  }
  .client_text {
    font-size: 16px;
    letter-spacing: 2px;
  }
  .client_span {
    font-size: 18px;
  }
  .form_h4 {
    font-size: 20px;
  }
  .form_input,.form_btn {
    padding: 13px 20px;
  }
  .input_email,.input_name {
    padding: 5px 10px;
  }
  .footer_links a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
  }
}
@media screen and (max-width: 991px) {
  .input_email,.input_name {
    width: 100%;
    margin: 5px 0;
  }
  .img {
    width: 132%;
  }
  .img img{
    width: 130%;
  }
  .client_h4 {
    margin: 30px 0;
  }
}
@media screen and (max-width: 900px) {
  .introduction {
    background-position: center;
  }
  .contain_about {
    padding: 50px 0;
  }
  .camera_icon,.web_icon,.d_icon {
    width: 150px;
    height: 150px;
  }
  .camera_h2,.web_h2,.d_h2 {
    font-size: 20px;
  }
  .camera_text,.web_text,.d_text {
    font-size: 16px;
  }
  .webdesign_items {
    padding: 20px;
  }
  .webdesign_h3 {
    margin: 10px 0 40px 0;
    font-size: 16px;
  }
  .webdesign_text {
    margin: 0;
    font-size: 13px;
  }
  .webdesign_btn {
    padding: 10px 20px;
    margin-top: 20px;
  }
  .img {
    width: 138%;
  }
  .img img{
    width: 140%;
  }
  .client_items {
    padding: 10px;
  }
  .client_h4 {
    margin: 30px 0;
    font-size: 16px;
  }
  .client_text {
    font-size: 13px;
  }
  .client_span {
    font-size: 13px;
  }
  .form_h4 {
    font-size: 16px;
  }
  .form_message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form_input {
    padding: 10px 15px;
  }
  .form_btn {
    padding: 10px 15px;
    margin-top: 7px;
  }
  .contact_address,.contact_phone,.contact_email {
    height: 130px;
  }
  .footer {
    height: 11vh;
  }
}
@media screen and (max-width: 768px) {
  .intro_h1 {
    font-size: 80px;
    margin: 0;
  }
  .intro_h2 {
    font-size: 80px;
    margin: 0;
  }
  .about_h2 {
    padding: 7px;
    margin-bottom: 25px;
    font-size: 25px;
  }
  .mywork_h3 {
    font-size: 20px;
    text-align: center;
  }
  .webdesign {
    flex-wrap: wrap;
    height: auto;
  }
  .coffee_photo,.see_photo,.parrot_photo {
    width: 100%;
    height: 50vh;
    background-position: center center;
    background-size: cover;
    order: 1;
  }
  .webdesign_items {
    width: 100%;
    order: 2;
  }
  .webdesign_h3 {
    margin: 25px 0 25px 0;
    font-size: 12px;
  }
  .webdesign_text {
    font-size: 10px;
  }
  .album_photos {
    height: auto;
  }
  /*.effects {*/
    /*margin: 0 30px;*/
  /*}*/
  /*.img,.img img {*/
    /*width: 109%;*/
  /*}*/
  
  .client,.form {
    flex-wrap: wrap;
    height: auto;
    
  }
  .client_photo {
    height: 50vh;
    width: 100%;
    background-position: center center;
 }
 .client_items {
   width: 100%;
   text-align: center;
 }
  .client_h4 {
    margin: 10px 0;
    font-size: 13px;
  }
  .client_text {
    font-size: 10px;
  }
  .form_items {
    width: 100%;
    text-align: center;
    order: 2;
    padding: 20px 0;
  }
  .form_photo {
    height: 50vh;
    width: 100%;
    background-position: center center;
    order: 1;
  }
  .form_h4 {
    text-align: center;
  }
  .form_input {
    width: 85%;
    margin: 0 auto;
  }
  .form_message {
    margin: 15px 0;
  }
  .form_btn {
    margin-left: 0;
  }
  .contact_address,.contact_phone,.contact_email {
    margin: 10px;
    height: 120px;
  }
  .address_h4,.address_text,.phone_h4,.phone_text {
    margin: 0;
  }
  .footer_links {
    width: 50%;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .contact_address,.contact_phone,.contact_email {
    margin: 20px;
  }
}
/*@media screen and (max-width: 630px) {*/
  /*.img,.img img {*/
    /*width: 112%;*/
  /*}*/
/*}*/
/*@media screen and (max-width: 550px) {*/
  /*.img,.img img {*/
    /*width: 116%;*/
  /*}*/
/*}*/
@media screen and (max-width: 425px) {
  .about_h2 {
    font-size: 23px;
  }
  .effects {
    margin: 0 20px;
  }
  /*.img,.img img {*/
    /*width: 118%;*/
  /*}*/
}
@media screen and (max-width: 375px) {
  .about_h2 {
    font-size: 20px;
    padding: 7px 0;
  }
  .effects {
    margin: 0 15px;
  }
  /*.img,.img img {*/
    /*width: 121%;*/
  /*}*/
}

/*@media screen and (max-width: 325px) {*/
  /*.img,.img img {*/
    /*width: 125%;*/
  /*}*/
/*}*/


.album .col-md-3 {
  padding: 0;
}

.test {
  background-color: #fff;
  margin: 0 25px;
}

.abc {
  color: #000;
  text-align: center;
}