$orange:#ef4a34
$yellow:#ffc107
$white:#fff

.webdesign_btn
    margin-top: 20px
    padding: 20px 25px
    border: 1px solid $white
    background-color: $orange
    cursor: pointer
    font-weight: bold
    color: #fff
    transition: 0.5s
    &:hover
        background-color: $white
        color: $orange
.photography button
    border: 1px solid #c9c9c9
    background-color: $white
    color: #c9c9c9
    &:hover
        border: 1px solid #7a7a7a
        color: #7a7a7a
        background-color: $white
.hire_button
    padding: 27px 60px
    background-color: $orange
    border: 1px solid $yellow
    cursor: pointer
    color: $yellow
    transition: 0.5s
    font-weight: bold
    font-size: 22px
    &:hover
        background-color: $yellow
        color: $orange
        font-weight: bold
        font-size: 22px
.form_btn
    padding: 20px 25px
    color: $orange
    border: 1px solid $yellow
    background-color: $yellow
    font-weight: bold
    font-size: 17px
    cursor: pointer
    margin-left: 10px
    transition: 0.3s
    &:hover
        background-color: $orange
        color: #fff
        font-weight: bold
        border: 1px solid  $yellow
.map_btn
    margin-top: 10px
    float: right
    padding: 7px 23px
    background-color: $orange
    color: #fff
    font-weight: bold
    border: 1px solid #fff
    transition: 0.3s
    &:hover
        background-color: #fff
        color: $orange
        border: 1px solid $orange
.footer_links a
    font-size: 30px
    color: #fff
    width: 50px
    height: 50px
    text-align: center
    line-height: 50px
    background-color: $orange
    transition: 0.3s
    &:hover
        color:  $orange
        border: 1px solid  $orange
        background-color: #fff