.introduction
    background-image: url('../img/main.jpeg')
    height: 150vh
    background-size: cover
.coffee_photo,.parrot_photo
    width: 50%
    height: 90%
.see_photo
    width: 50%
    height: 90%
    order: 2
.client_photo
    width: 50%
    height: 100%
    background-image: url('../img/colleague.jpeg')
    background-size: cover
.form_photo
    background-image: url('../img/town.jpeg')
    width: 50%
    height: 100%
    background-size: cover
.map_photo
    background-image: url('../img/map.jpg')
    height: 100%
    width: 100%
    background-size: cover